<footer class="footer scene-element fade-in-up">
    <div class="wrap-center">
        <div class="footer-content-left">
            <div class="footer-info">
                <strong>Mario R. Castellanos A.</strong>
                <p>Full Stack Developer</p>
                <a class="button alert small border radius" href="mailto:mario502gt@gmail.com">
                    <span class="fa fa-envelope"></span> Contactar
                </a>
            </div>
            <div class="footer-social-icons">
                <!-- <p>Puedes seguirme en</p> -->
                {{! add your urls ; more icons : http://fontawesome.io/icons/ }}
                {{! feed 
                <a href="/rss/" class="no-smoothstate">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                        <i class="fa fa-rss fa-stack-1x"></i>
                    </span>
                </a> }}
                {{!-- facebook 
                <a href="https://www.facebook.com/mario502gt/" target="blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                        <i class="fa fa-facebook fa-stack-1x"></i>
                    </span>
                </a>--}}
                {{!-- twitter --}}
                <a href="https://twitter.com/mario502gt/" target="blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                        <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                </a>
                {{!-- google plus --}}
                <a href="https://plus.google.com/+MarioRCastellanosA/" target="blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                        <i class="fa fa-google-plus fa-stack-1x"></i>
                    </span>
                </a>
                {{!-- Instagram --}}
                <a href="https://instagram.com/mario502gt/" target="blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                        <i class="fa fa-instagram fa-stack-1x"></i>
                    </span>
                </a>
                {{!-- linkedin --}}
                <a href="https://gt.linkedin.com/in/mariocaste/" target="blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                        <i class="fa fa-linkedin fa-stack-1x"></i>
                    </span>
                </a>
                {{!-- behance 
                <a href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                        <i class="fa fa-behance fa-stack-1x"></i>
                    </span>
                </a> --}}
                {{!-- github --}}
                <a href="https://github.com/mario502gt/" target="blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                        <i class="fa fa-github fa-stack-1x"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="footer-content-right">
            <div class="footer-tools">
                <span>
                    Orgullosamente publicado con <a href="https://ghost.org/download/" target="blank">Ghost</a> 
                    & alojado en <a href="https://www.digitalocean.com/?refcode=146111d7dde7" target="blank">DigitalOcean</a>
                </span>
                <figure class="tools-ghost">
                    <a href="https://ghost.org/download/" target="blank">
                        <img src="{{asset "ghost.png"}}" alt="Ghost" title="Ghost">
                    </a>
                    <a href="https://www.digitalocean.com/?refcode=146111d7dde7" target="blank">
                        <img src="{{asset "digitalocean.png"}}" alt="Ghost" title="Ghost">
                    </a>
                </figure>
            </div>
            <div class="footer-final">
                <div class="creativecommons">
                    <span>Inspirado en <a href="http://http://filisantillan.com//" target="blank">Fili Santillán</a> y <a href="https://carlosazaustre.es" target="blank">Carlos Azaustre</a></span>
                    <br />
                    <span><a href="http://creativecommons.org/licenses/by-sa/4.0/">© 2015 Mario Castellanos</a> </span>
                </div>
            </div>
        </div>
    </div>
</footer>