<div class="loop">
   {{! This is the post loop - each post will be output using this markup }}
    <div class="post-row">
        <article class="js-post-block-grid post-block-grid">
        	<!-- PROJECTS -->
        	<!-- VERSA -->
            <div class="post js-post-block-grid-item post-block-grid-item" >
                <div class="post-block-wrapper">
                    <figure class="effect-hera">
                        <img src="{{asset "img/versa.png"}}" alt="Versa" class="index-post-image">
                        <figcaption>
                            <p>
                                <a href="#">
                                    <i class="fa fa-fw fa-link"></i>
                                </a>
                                <a href="{{asset "img/versa.png"}}" class="anima-image-popup">
                                    <i class="fa fa-fw fa-search"></i>
                                </a>
                            </p>
                        </figcaption>
                    </figure>
                    <div class="post-block-grid-content with-image">
                        <header class="post-header">
                            <time class="post-date" datetime="2015">2015</time>
                            <h2 class="post-title"><a href="#">Versa</a></h2>
                            <div class="post-title-separator"></div>
                        </header>
                        <section>
                            <p>Startup para el aprendizaje en línea.</p>
                            <p>Problemas de práctica generados automáticamente junto con el análisis de respuesta proporcionan una forma personalizada de aprender.</p>
                        </section>
                        <footer class="post-meta">
                            <div>
                            	Stack
                            </div>
                            <div>
                            	<a href="https://www.python.org/" target="_blank">Python 2.7</a>
                            </div>
                            <div>
                            	<a href="https://www.djangoproject.com/" target="_blank">Django 1.7</a>
                            </div>
                            <div>
                            	<a href="#" target="_blank">Boostrap 3</a>
                            </div>
                            <div>
                            	<a href="https://jquery.com/">jQuery</a>
                            </div>
                            <div>
                            	<a href="http://getbootstrap.com/" target="_blank">MySQL</a>
                            </div>
                            <div>
                            	<a href="sagemath.org" target="_blank">Sage</a>
                            </div>
                            <div>
                            	<a href="http://nginx.org/" target="_blank">Nginx</a>
                            </div>
                            <div>
                            	<a href="#">HTML 5</a>
                            </div>
                            <div>
                            	<a href="#">CSS 3</a>
                            </div>
                        </footer>
                        <div>
                            <a href="https://learnversa.com/" target="_blank" class="post-read-more-btn">Ver</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MY BLOG -->
            <div class="post js-post-block-grid-item post-block-grid-item" >
                <div class="post-block-wrapper">
                    <figure class="effect-hera">
                        <img src="{{asset "img/blog.jpg"}}" alt="Blog" class="index-post-image">
                        <figcaption>
                            <p>
                                <a href="#">
                                    <i class="fa fa-fw fa-link"></i>
                                </a>
                                <a href="{{asset "img/blog.jpg"}}" class="anima-image-popup">
                                    <i class="fa fa-fw fa-search"></i>
                                </a>
                            </p>
                        </figcaption>
                    </figure>
                    <div class="post-block-grid-content with-image">
                        <header class="post-header">
                            <time class="post-date" datetime="2015">2015</time>
                            <h2 class="post-title"><a href="#">Blog</a></h2>
                            <div class="post-title-separator"></div>
                        </header>
                        <section>
                            <p>Mi blog personal.</p>
                        </section>
                        <footer class="post-meta">
                            <div>
                            	Stack
                            </div>
                            <div>
                            	<a href="https://nodejs.org/" target="_blank">Node.js</a>
                            </div>
                            <div>
                            	<a href="https://ghost.org/" target="_blank">Ghost</a>
                            </div>
                            <div>
                            	<a href="http://handlebarsjs.com/" target="_blank">Handlebars</a>
                            </div>
                            <div>
                            	<a href="#">JavaScript</a>
                            </div>
                            <div>
                            	<a href="#">HTML 5</a>
                            </div>
                            <div>
                            	<a href="#">CSS 3</a>
                            </div>
                        </footer>
                        <div>
                            <a href="http://mariocaste.com/" target="_blank" class="post-read-more-btn">Ver</a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>