<div class="social-buttons">
    {{!-- Facebook --}}
    <div class="fb-share-button" data-href="{{url absolute="true"}}" data-layout="box_count"></div>
    
    {{!-- Twitter --}}
   <a href="{{url absolute="true"}}" class="twitter-share-button" data-count="vertical"></a>
    
    {{!-- Google Plus --}}
   <div class="g-plusone" data-size="tall" data-href="{{url absolute="true"}}"></div>
    
    {{!-- Linkedin --}}
    <script type="IN/Share" data-url="{{url absolute="true"}}" data-counter="top"></script>
</div>